@import url(https://fonts.googleapis.com/css?family=Patua+One);

body {
    background-color: #EAEDF2;
}

.menu {
  position: absolute;
  background-color: lightgrey;
  top: 0;
  z-index: 10;
  width: 25%;
  height: 100vh;
  right: 0px;
  box-shadow: -2px 1px rgba(0, 0, 0, 0.4);
  display: none; }
  .menu:hover {
    box-shadow: -3px 5px 3px rgba(0, 0, 0, 0.6); }
  .menu h5 {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-family: "Patua One"; }
  .menu h6 {
    font-family: "Patua One";
    color: black;
    padding-left: 2%;
  }
  .menu ul li {
    padding-right: 5%;
  }

header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: #3B5998;
    top: 0px;
    height: auto;
    width: 100%;
    opacity: .8;
}

h1 {
    position: relative;
    color: white;
    font-family: "Patua One";
    margin-left: 20px;
    top: 5px;
    font-size: 50px;
}

.landingPic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -100;
}

h2 {
    position: absolute;
    left: 37%;
    top: 20%;
    width: 25%;
    z-index: 2;
    font-size: 35px;
    text-align: center;
    font-family: "Patua One";
}

.search {
    position: absolute;
    left: 37%;
    top: 38%;
    width: 25%;
    z-index: 2;
    text-align: center;
}

.submit {
    position: absolute;
    left: 45%;
    top: 45%;
    width: 10%;
    z-index: 2;
    text-align: center;
    border-radius: 50%;
}

.hamburgermenu {
  height: 75%;
  width: 5%;
  margin: 20px;
  float: right;
}

.hamburgermenu:hover {
    cursor: pointer;
}

form input, form textarea, form select {
    position: relative;
    display: block;
    top: 100px;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 200px;
}

form label {
    position: relative;
    display: block;
    top: 100px;
    margin-left: 20px;
    width: 200px;
}
textarea {
    resize: none;
}

.menu a {
    margin-left: 2%;
}
